body{
    margin:0;
}

.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto auto auto;
    padding: 10px 150px 10px 150px;
}

.grid-header-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #c9d1f5;
    padding: 10px;
}

.grid-item {
    border: 3px solid rgba(0, 0, 0, 0.8);
    
}

.justify-left {
    text-align: left;
    
}

.justify-end{
    text-align: right;
}

.justify-center {
    text-align: center;
    
}

.timer {
    color: #0b0c13;
    font-size: 20px;
    font-weight: bold;
}

.restart-button {
    width: 15em;
    height: 3em;
    color: white;
    background-color: rgb(8, 86, 131);
    border: 0;
}
.game-status-text {
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card {
    width: 100%;
    height: 10em;
    background-image: linear-gradient(rgb(43, 156, 201), rgb(56, 196, 114), rgb(208, 148, 248));
    color:white;
    font-size: 15px;
}

.hide-card {
    visibility: hidden;
}